.env
eqn_images
all_results.json
downloads/
*.pyc
static/comb_data
static/box_images
static/*.png
proj.vim
*.vim 
*.swp
comb_data/
*.jpg
static/build/*.js
node_modules/
*.log
*.out
base_data/*.json
static/log.html
mpxresults
mpxdata
sandbox
dump.rdb
.DS_Store
.idea
instructions.html
instructions.md
new_consts.json
src/mycounts.js
static/build/
static/data.csv
static/graph.js
templates/mycounts.html
tmp

# Elastic Beanstalk Files
!.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
