click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.16.2
olefile==0.44
Pillow==4.1.1
psycopg2==2.8.3
redis==2.10.5
requests==2.9.1
Werkzeug==0.12.2
boto3==1.7.14
future==0.17.1
elasticsearch
authlib
six
