#page-annotations.math_anno {
  padding-bottom: 100px;

  .anno-board {
    margin-top: 20px;
    user-select: none;
  }

  .heading {
    .shortcut-keys-guide {
      margin-top: 10px;
    }
    @media only screen and (min-width: 992px) {
      .actions button {
        margin-bottom: 10px;
      }
    }
  }

  & > .alert {
    margin-top: 20px;
    margin-bottom: 0;
  }

  label {
    font-weight: normal;
  }

  .property {
    label {
      padding-left: 10px;
      user-select: none;
    }
  }

  #source-image-link {
    margin: 20px 0;
  }

  #previous-annotator {
    font-size: 16px;
  }

  .spinner {
    padding: 28px 0;
    text-align: center;
  }

  .error {
    padding: 28px 0;
    text-align: center;
    font-size: 18px;
    color: #f00;
  }

  .save-error {
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    color: #f00;
  }

  .latex-edit-link,
  .box-edit-link {
    margin-top: 10px;
    a {
      font-size: 16px;
    }
  }

  .dynamic-field {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  textarea.latex-edit {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #333;
    color: #fff;
    font-family: monospace;
    font-size: 16px;
  }

  .latex-edit-parent {
  }

  .latex-render {
    height: 80px;
    line-height: 1.2;
  }

  .all-width-wrapper {
    padding: 0 10px;
    margin-left: calc(50% - 49vw);
    width: 98vw;
    display: flex;
    justify-content: center;
  }

  .anno-list-edit {
    .anno-item {
      display: flex;

      .anno-arrows {
        width: 10%;
        & div {
          margin-bottom: 5px;
        }
      }
      .anno-item-content {
        width: 90%;
        margin: 30px 0;

        .image-wrap {
          width: 100%;
          text-align: center;
          position: relative;
        }
        .anno-item-label {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          font-size: 22px;
        }
        textarea {
          width: 100%;
          height: 100px;
          background: #000;
          color: #fff;
        }
      }
    }
  }

  .latex-render-parent {
    .zoom {
      margin-left: 30px;
      a {
        margin-right: 10px;
        color: green;
      }
    }
    .zoom-in,
    .zoom-out {
      font-size: 20px;
    }
    .zoom-in-big,
    .zoom-out-big {
      font-size: 30px;
    }
  }

  .bounding-box-type-selectors {
    margin: 30px 0 10px;
    text-align: center;

    button {
      margin: 0 5px;
      border-width: 1px;
      border-style: solid;
      border-radius: 10px;
    }
  }

  .item-comments {
    margin-top: 50px;

    .spinner {
      padding: 15px 0;
    }
    .error {
      padding: 15px 0;
    }

    .list-group {
      width: 100%;
    }

    .comment {
      background-color: #f8f8f8;

      .comment-header {
        padding-bottom: 10px;
      }

      .comment-message.unread {
        font-weight: bold;
      }
    }

    .delete-spinner {
      margin-left: 30px;
    }

    .new-comment {
      .select-recipient {
        margin-bottom: 10px;
        label {
          display: inline-block;
          margin-right: 10px;
        }
        select {
          display: inline-block;
          width: 200px;
        }
      }

      .message {
        margin-bottom: 10px;
      }
    }
  }

  .anno-log {
    margin-top: 70px;

    .spinner {
      padding: 15px 0;
    }
    .error {
      padding: 15px 0;
    }
    .annotation-log {
      width: 100%;
      height: 200px;
      line-height: 1.8em;
      color: #666;
    }
  }
}
