{% extends "layout_no_navbar.html" %}

{% block body %}
<div class="container">

    <div id="main"></div>

</div>

<link rel="stylesheet" href="/static/annotorious.css" />
<script src="/static/annotorious.min.js"></script>
<script src="/static/polygon_selector.js"></script>
<script src="/static/transform_selector.js"></script>
<script src="/static/transform_polygon_selector.js"></script>
<script type="text/javascript" src="/static/mouse.js"></script>
<script type="text/javascript" src="/static/mousetrap.min.js"></script>
<script>
  window.__USERNAME__ = '{{ username }}';
  window.__QUEUE_NAME__ = '{{ queue_name }}';
  window.__QUEUE_COUNT__ = {{ queue_count }};
  window.__DATASET__ = '{{ dataset }}';
  // anno.addPlugin('PolygonSelector', { activate: true });
</script>
<script type="text/javascript" src="/static/build/annoUI.js?t={{ timestamp }}"></script>

{% endblock %}
