{% extends "layout.html" %}

{% block body %}
    <div class="container-full">
        <div id="main"></div>
    </div>

    <style>
        pre {
            display: block;
            font-family: monospace;
            white-space: pre;
            border: 0;
        }
    </style>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
            messageStyle: "none",
            TeX: {
                Macros: {
                    longdiv: ["{\\overline{\\smash{)}#1}}", 1],
                    oint: String.raw`{\mathop{\vcenter{\mathchoice{\huge\unicode{x222E}\,}{\unicode{x222E}}{\unicode{x222E}}{\unicode{x222E}}}\,}\nolimits}`,
                    oiint: String.raw`{\mathop{\vcenter{\mathchoice{\huge\unicode{x222F}\,}{\unicode{x222F}}{\unicode{x222F}}{\unicode{x222F}}}\,}\nolimits}`,
                    oiiint: String.raw`{\mathop{\vcenter{\mathchoice{\huge\unicode{x2230}\,}{\unicode{x2230}}{\unicode{x2230}}{\unicode{x2230}}}\,}\nolimits}`,
                    ointclockwise: String.raw`{\mathop{\vcenter{\mathchoice{\huge\unicode{x2232}\,}{\unicode{x2232}}{\unicode{x2232}}{\unicode{x2232}}}\,}\nolimits}`,
                    ointctrclockwise: String.raw`{\mathop{\vcenter{\mathchoice{\huge\unicode{x2233}\,}{\unicode{x2233}}{\unicode{x2233}}{\unicode{x2233}}}\,}\nolimits}`
                }
            }
        });
    </script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="/static/mousetrap.min.js"></script>
    <script src="/static/build/predicted_data.js"></script>

{% endblock %}

